table .desctop-image{
    height: 100px;
    width: 100px;
}
table .desctop-image img{
    height: 100px;
    width: 100px;
}

.edit_image{
    height: 100px;
    width: 100px;
}

.edit_image img{
    height: 100px;
    width: 100px;
}